.default_input{
    background-color: white;
    font-family: monospace;
}

.error_input{
    background-color: pink;
    font-family: monospace;
}

.output{
    font-family: monospace;
    font-size: large;
    text-align: left;
}

.gray{
    background-color: gray;
    color: gray;
}

.pink{
    background-color: pink;
    color: pink;
}
.html_table{
    clear: left;
    float: left;
    border-collapse: collapse;
    border: 2px solid black;
}
.table_method{
    float: left;
    clear: left;
}

thead, tbody{
    border-collapse: collapse;
    border: 2px solid black;
}

th, td{
    border-collapse: collapse;
    border: 1px solid black;
}

.full_cell{
    width: 100%;
}

.input_part{
    float: left;
    width: auto;
    overflow: hidden;
}

.buttonPart{
    float: right;
    width: 20px;
}
