.dummy_input{
    background-color: lightgreen;
    font-family: monospace;
    flex: auto;
}

.empty_input{
    background-color: palegoldenrod;
    font-family: monospace;
    flex: auto;
}

.valid_input{
    background-color: white;
    font-family: monospace;
    flex: auto;
}

.invalid_input{
    background-color: pink;
    font-family: monospace;
    flex: auto;
}

.output{
    font-family: monospace;
    font-size: large;
    text-align: left;
}

.gray{
    background-color: gray;
    color: gray;
}

.pink{
    background-color: pink;
    color: pink;
}

.white{
    background-color: white;
    color: white;
}

.yellow{
    background-color: palegoldenrod;
    color: palegoldenrod;
}


table{
    border-collapse: collapse;
    border: 2px solid black;
}

.bsl_io{
    float: right;
}

.bsl_checkbox{
}

.smiley_frowney_face{
    float: right;
}

.bsl_field{
    font-family: monospace;
}

.language_select{
}

thead, tbody{
    border-collapse: collapse;
    border: 2px solid black;
}

th, td{
    border-collapse: collapse;
    border: 1px solid black;
}

.flex_horiz{
    display: flex;
    flex-direction: row;
}

.flex_vert{
    display: flex;
    flex-direction: column;
}

.grow{
    flex: auto;
}

.no_grow{
    flex: initial;
}
