.dummy_input{
    background-color: lightgreen;
    font-family: monospace;
    flex: auto;
}

.empty_input{
    background-color: palegoldenrod;
    font-family: monospace;
    flex: auto;
}

.valid_input{
    background-color: white;
    font-family: monospace;
    flex: auto;
}

.invalid_input{
    background-color: pink;
    font-family: monospace;
    flex: auto;
}

.output{
    font-family: monospace;
    font-size: large;
    text-align: left;
}

.gray{
    background-color: gray;
    color: gray;
}

.pink{
    background-color: pink;
    color: pink;
}

.white{
    background-color: white;
    color: white;
}

.yellow{
    background-color: palegoldenrod;
    color: palegoldenrod;
}


.html_table{
    clear: left;
    float: left;
    border-collapse: collapse;
    border: 2px solid black;
}

.table_method{
    float: left;
    clear: left;
}

.bsl_io{
    float: right;
}

.bsl_checkbox{
    float: left;
    clear: left;
}

.smiley_frowney_face{
    float: right;
}

.bsl_field{
    font-family: monospace;
    float: left;
    clear: left;
}

.language_select{
    float: left;
    clear: left;
}

thead, tbody{
    border-collapse: collapse;
    border: 2px solid black;
}

th, td{
    border-collapse: collapse;
    border: 1px solid black;
}

.full_cell{
    display: flex;
}

.cross_button{
    flex: initial;
}
