.dummy_input{
    background-color: palegreen;
    font-family: monospace;
    flex: auto;
    font-size: large;
}

.empty_input{
    background-color: palegoldenrod;
    font-family: monospace;
    flex: auto;
    font-size: large;
}

.valid_input{
    background-color: white;
    font-family: monospace;
    flex: auto;
    font-size: large;
}

.invalid_input{
    background-color: pink;
    font-family: monospace;
    flex: auto;
    font-size: large;
}

.validated_area {
    resize: none;
}

.output{
    font-family: monospace;
    font-size: large;
    text-align: left;
}

.gray{
    background-color: gray;
    color: gray;
}

.pink{
    background-color: pink;
    color: pink;
}

.white{
    background-color: white;
    color: white;
}

.yellow{
    background-color: palegoldenrod;
    color: palegoldenrod;
}


table{
    border-collapse: collapse;
    border: 2px solid black;
}

.bsl_io{
    float: right;
}

.bsl_checkbox{
}

.smiley_frowney_face{
    float: right;
}

.bsl_field{
    font-family: monospace;
}

.language_select{
}

thead, tbody{
    border-collapse: collapse;
    border: 2px solid black;
}

th, td{
    border-collapse: collapse;
    border: 1px solid black;
}

.flex_horiz{
    display: flex;
    flex-direction: row;
}

.flex_vert{
    display: flex;
    flex-direction: column;
}

.grow{
    flex: auto;
}

.no_grow, .signature input:first-of-type {
    flex: initial;
}

.remove{
    flex: initial;
    color: maroon;
}

.alert{
    flex: initial;
    float: right;
    color: red;
}

.check{
    flex: initial;
    float: right;
    color: green;
}

.colon{
    flex: initial;
    font-family: monospace;
    font-size: large;
    font-weight: bold;
    vertical-align: middle;
}

.table{
    margin-top: 16px;
    margin-bottom: 16px;
}
